.mui-bar-tab .mui-tab-item.mui-active {
	color: #46C01B;
}

.bar {
	background-color: #303030;
	line-height: 25px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.bar .option {
	font-size: 18px;
	color: #fff;
	line-height: 25px;
}

.bar .bar-btn {
	font-size: 20px;
}

.bar h1,
h2,
h3,
h4,
h5 {
	color: #fff;
}